@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --breakpoint-xs: 430px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  
  --color-brand-red: #f82243;
  --color-brand-red-dark: #ff1337;
  --color-brand-yellow: #ffe267;
  --color-brand-yellow-dark: #eabd02;
  --color-brand-purple: #5122e1;
  --color-brand-grey-light: #f7f7f7;
  
  /* --font-family-heading: "Transducer Variable", system-ui, sans-serif; */
  /* --font-family-body: "inter", system-ui, sans-serif; */
  --font-family-heading: system-ui, sans-serif;
  --font-family-body: system-ui, sans-serif;
}

@layer base {
  html, body {
    font-family: theme(--font-family-body);
    @apply antialiased text-gray-950 bg-stone-50;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: theme(--font-family-heading);
    @apply font-extrabold text-black;
  }

  .font-heading {
    font-family: theme(--font-family-heading);
    @apply font-bold;
  }

  button {
    @apply hover:cursor-pointer;
  }

  img {
    @apply max-w-full h-auto;
  }

  a {
    @apply transition-colors;
  }
}

@layer components {
  .layout-full {
    @apply px-4 sm:px-8 lg:px-12 xl:px-16;
  }

  .layout-wide {
    @apply max-w-370 w-full m-auto px-4 sm:px-8 lg:px-12 xl:px-16;
  }

  .layout-mid {
    @apply max-w-7xl w-full m-auto px-4 sm:px-8 lg:px-12 xl:px-16;
  }

  /*
  * Tailwind Prose overrides
  */
  .prose {
    @apply max-w-full! text-[17px]/7! text-gray-950!;
  }

  .prose a {
    @apply font-normal! border-b-2 border-gray-300 hover:border-gray-700 transition-colors no-underline!;
  }

  .prose ul li {
    @apply my-1.5!;
  }
}

@layer utilities {
  .odd\:order-1:nth-child(odd) {
    order: 1;
  }
  
  .even\:order-2:nth-child(even) {
    order: 2;
  }
  
  .last\:mb-0:last-child {
    margin-bottom: 0;
  }
}

/* Nuxt SVGO base styles */
.nuxt-icon {
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
}

/* Page transition */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s ease;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
}